# Environment
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# SQLite
*.db
*.sqlite3

# Virtual envs
.venv/
venv/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Node (if you ever add frontend)
node_modules/

# IDEs & logs
.vscode/
.idea/
*.log
