<!-- frontend/templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Divy{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <a href="{{ url_for('frontend.index') }}" class="logo-link">
    <h1>Divy</h1>
  </a>
    {% if request.cookies.get('access_token') %}
    <nav>
      <a href="{{ url_for('frontend.dashboard') }}">Dashboard</a>
      <a href="#" id="logout-link">Log Out</a>
    </nav>
    {% else %}
    <nav>
      <a href="{{ url_for('frontend.login_page') }}">Sign In</a>
      <a href="{{ url_for('frontend.register_page') }}">Register</a>
    </nav>
    {% endif %}
    <hr>
  </header>

  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <hr>
    <p>&copy; 2025 Divy</p>
  </footer>

  <script>
    document.getElementById('logout-link')?.addEventListener('click', ev => {
      ev.preventDefault();
      document.cookie = 'access_token=; Max-Age=0; path=/';
      window.location.href = '/login';
    });
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>
